*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background: #FF4051;
    overflow-y: hidden;

}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoDiv{
    margin-left: 20px;
}

.links{
    display: flex;
    justify-content: space-around;
    border: 1px solid white;
    padding: 10px;
    border-radius: 20px;
    width: 50%;
        
}

.links > a{
    text-decoration: none;
    color: white;

}

.links:hover{

}

.iconNav{
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.hero-section{
    display: flex;
    position: relative;
}

.heroText{
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 180px 30px;
}
.heroText h3{
    font-family: Alumni Sans;
font-size: 60px;
font-weight: 600;
line-height: 72px;
/* text-align: left; */
width: 100%;
}

.heroText p{
    font-family: Lexend;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;


}
h2{
    width: 711px;
    height: 422px;
    font-family: Nina;
    font-size: 250px;
    font-weight: 700;
    line-height: 422.46px;
    letter-spacing: -0.05em;
    text-align: left;
    position: absolute;
    color: #FFC0C699;

    left: 350px;


}

.shoe{
    position: absolute;
    top: -10%;
    left: 20%;
    width: 700px;
}

.shoe2{
    position: absolute;
    right: 0px;
}

h4{
    font-family: Alumni Sans;
    font-size: 25px;
    font-weight: 600;
    line-height: 38.4px;
    text-align: left;

}

.sizeIcons{
    display: flex;
    gap: 10px;
}

.sizeIcons p {
    border: 1px solid white;
    width: 29px;
    height: 31px;
        font-family: Alumni Sans;
    font-size: 22px;
    font-weight: 500;
    line-height: 31.2px;
    text-align: center;

}

.circleColours{
    display: flex;
    gap: 10px;
    margin-left: 20px;
}

.circleColours p{
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.circleColours >:nth-child(1){
    background-color: blue;
}
.circleColours >:nth-child(2){
  background-color:  red;
}

.circleColours >:nth-child(3){
  background-color: green;
}

.circleColours >:nth-child(4){
  background-color: orange;
}


/* ADD ANIMATIONS O DAVID */
.shoe:hover {
    height: auto; 
    animation: rotate 2s linear infinite;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(50deg);
    }
    75% {
        transform: rotate(75deg);
    }
 
    100% {
        transform: rotate(360deg);
    }
}


/* JS ANIMATUION */

.box {
    opacity: 0; /* Initially hidden */
    transform: translateY(100px); /* Move down a bit */
    transition: opacity 1s, transform 1s; /* Smooth transition */
    margin-bottom: 50px;
    padding: 20px;
    /* background-color: #f0f0f0; */
    /* border-radius: 8px; */
}
.box.show {
    opacity: 1; /* Fully visible */
    transform: translateY(0); /* Move to original position */
}






.left-slide {
    transform: translateX(-100%); /* Start off-screen to the left */
    transition: transform 0.5s ease-out;
    opacity: 0;
}

.left-slide.slide-in {
    transform: translateX(0); /* Slide to its original position */
    opacity: 1;
}

/* Right slide */


.right-slide {
    transform: translateX(-150%); /* Start off-screen to the right */
    transition: transform 0.9s ease-out, opacity 0.9s ease-out;
    /* opacity: 0; */
   

}

.right-slide.slide-in {
    transform: translateX(0); /* Slide to its original position */
    opacity: 1;
}
